{{- if .ReproducedCorrectly }}
## :white-check-mark: {{.Hashes.Zip.Name}} passed reproducibility check.
{{- else }}
## :x: {{.Hashes.Zip.Name}} failed reproducibility check.
{{- end }}

{{ template "hashes" .Hashes }}

<details>
<summary>Full verification result</summary>

```json
{{ json . }}
```

</details>

{{- define "singleFile" -}}
| {{.Description}} - {{.Name}} |           SHA256         |
|------------------------------|--------------------------|
| Primary build                | {{.SHA256.Primary     }} |
| Verification build           | {{.SHA256.Verification}} |
-----
{{- end -}}

{{- define "hashes" -}}
{{ template "singleFile" .Bin }}
{{ template "singleFile" .Zip }}
{{- end -}}
