## {{ template "title" . }}

{{ template "hashes" .Hashes }}

<details>
<summary>Full verification result</summary>

```json
{{ json . }}
```

</details>

{{- define "title" -}}
	{{- template "successEmoji" .ReproducedCorrectly }} `{{.Hashes.Zip.Name}}`
	{{- if .ReproducedCorrectly}} passed {{else}} failed {{end -}}
	reproducibility check.
{{- end -}}

{{- define "hashes" -}}
{{template "singleFile" .Bin }}
{{template "singleFile" .Zip }}
{{- end -}}

{{- define "singleFile" -}}
| {{template "hashTitle" . }} |          SHA256          |
|-----------------------------|--------------------------|
| Primary build               | {{.SHA256.Primary     }} |
| Verification build          | {{.SHA256.Verification}} |
-----
{{- end -}}

{{- define "hashTitle" -}}
{{ template "successEmoji" .SHA256.Match }} {{.Description}} `{{.Name}}`
{{- end -}}

{{- define "successEmoji"}}{{if . }}:white_check_mark:{{else}}:x:{{end}}{{end -}}
