name: Minimal Example (main)
on: { push: { branches: main } }
jobs:
  example:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Build
        uses: hashicorp/actions-go-build@main
        with:
          go_version: 1.24
          os: linux
          arch: amd64
          work_dir: testdata/example-app
          debug: true
          instructions: |
            go build -o "$BIN_PATH" -trimpath -buildvcs=false
