name: Test Verify

on:
  workflow_call:
    inputs:
      runner:
        description: The name of the runner to use.
        type: string
        required: true

jobs:

  # Begin verify action tests.
  #
  # These tests use a matrix to define a set of inputs and wanted results.
  # They use the ./verify/self-test action in this repo to exercise the action itself
  # with different sets of inputs, and assert that the action succeeds or
  # fails correctly.

  test:
    runs-on: ${{ inputs.runner }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - { assert: success, file: valid-clean-reproducible,            when: result file is valid and verification succeeds }
          - { assert: failure, file: valid-dirty,                         when: result file is valid but for a dirty build }
          - { assert: failure, file: valid-clean-non-reproducible-binary, when: result file is valid and verification fails on binary file }
          - { assert: failure, file: valid-clean-non-reproducible-zip,    when: result file is valid and verification fails on zip file }
          - { assert: failure, file: this-file-does-not-exist,            when: result file is missing }
          - { assert: failure, file: corrupt,                             when: result file is corrupt }
    steps:
      - uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4.1.4
      # generate a random ID; GH doesn't provide a proper job ID (especially for matrix jobs)
      - name: Generate random ID to distinguish build artifacts
        run: echo "ARTIFACT_ID=$RANDOM" >> "$GITHUB_ENV"
      - uses: ./verify/self-test
        with:
          assert: ${{ matrix.assert }}
          when: ${{ matrix.when }}
          result_file: verify/testdata/${{ matrix.file }}.buildresult.json
          output_file: verification-result-${{ inputs.runner }}-${{ env.ARTIFACT_ID }}.json
